<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-COMPATIBLE" content="IE=edge">
    <title>Locomotive</title>

    <link rel="stylesheet" href="/webjars/bootstrap/3.3.6/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/index.css">

    <script type="text/javascript" src="/webjars/jquery/2.2.3/dist/jquery.min.js"></script>
    <script type="text/javascript" src="/webjars/bootstrap/3.3.6/dist/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/webjars/angular/1.5.3/angular.js"></script>
    <script type="text/javascript" src="/webjars/angular-bootstrap/0.12.2/ui-bootstrap.js"></script>
    <script type="text/javascript" src="/webjars/angular-ui-router/0.2.18/angular-ui-router.js"></script>
    <script type="text/javascript" src="/webjars/ng-lodash/0.4.0/build/ng-lodash.min.js"></script>

    <script type="text/javascript" src="js/app.js"></script>
</head>
<body ng-app="locomotive">
    <div id="indexContainer" ng-controller="IndexController">
        <div id="messagesContainer">
            <div class="alert alert-dismissable alert-danger" ng-show="messages.error">
                {{messages.error}}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="alert alert-dismissable alert-success" ng-show="messages.success">
                {{messages.success}}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
        </div>

        <div id="projectInnerContainer" ui-view></div>
    </div>
</body>
</html>

<script type="text/ng-template" id="projectHome.html">
    <div id="projectContainer">
        <h2>Welcome to Locomotive!</h2>
        <h4>
            Locomotive is an open-source release train and quality assurance management tool.
            Below are the current projects that already exist in the system.
            Click on one to view the releases for that project, or create a new project!
        </h4>

        <button class="btn btn-success pull-right" ng-click="projectToAdd.name = ''"><i class="glyphicon glyphicon-plus-sign"></i>Add New Project</button>
        <ul id="projectList">
            <li ng-show="projectToAdd.name !== undefined">
                <div id="projectToAdd">
                    <div id="projectToAddControls">
                        <i class="glyphicon glyphicon-save crud-action" ng-click="saveProject()"></i>
                        <i class="glyphicon glyphicon-remove crud-action" ng-click="projectToAdd = {}"></i>
                    </div>

                    <input class="form-control" type="text" ng-model="projectToAdd.name" placeholder="Enter Project Name">
                </div>
            </li>
            <li ng-repeat="project in projects | orderBy : 'name'">
                <a ui-sref="project({projectId: project.id})">{{project.name}}</a>
            </li>
        </ul>
    </div>
</script>

<script type="text/ng-template" id="selectedProject.html">
    <a ui-sref="index" class="pull-left"><-- Home</a>
    <button id="deleteProject" class="btn btn-danger pull-right" ng-click="removeProject()"><i class="glyphicon glyphicon-remove"></i>Delete Project</button>

    <div id="projectName" ng-show="!editingName">
        <h2 ng-show="!editingName">
            {{project.name}}
            <i id="editProjectName" class="glyphicon glyphicon-edit crud-action" ng-click="editingName = true"></i>
        </h2>
    </div>

    <div id="projectNameEditing" ng-show="editingName">
        <i id="saveProjectName" class="glyphicon glyphicon-save crud-action" ng-click="saveProject()"></i>
        <input class="form-control" type="text" ng-model="project.name" ng-show="editingName">
    </div>

    <div id="selectedProjectContainer">
        <div id="projectSidebar" class="col-xs-2">
            <h2>Releases</h2>
            <button class="btn btn-success" ng-click="releaseToAdd.name = ''"><i class="glyphicon glyphicon-plus-sign"></i>Add New Release</button>
            <ul id="releaseList">
                <li ng-show="releaseToAdd.name !== undefined">
                    <div id="releaseToAdd">
                        <div id="releaseToAddControls">
                            <i class="glyphicon glyphicon-save crud-action" ng-click="saveRelease()"></i>
                            <i class="glyphicon glyphicon-remove crud-action" ng-click="releaseToAdd = {}"></i>
                        </div>

                        <input class="form-control" type="text" ng-model="releaseToAdd.name" placeholder="Enter Release Name">
                    </div>
                </li>

                <li ng-repeat="release in releases | orderBy : 'createdAt' : true"><a ui-sref="project.release({releaseId: release.id})">{{release.name}}</a></li>
            </ul>
        </div>

        <div id="releaseInnerContainer" ui-view class="col-xs-10">
            <h3>Select a release from the left to view details!</h3>
        </div>
    </div>
</script>

<script type="text/ng-template" id="selectedRelease.html">
    <div id="selectedReleaseContainer">
        <div id="releaseNameContainer">
            <button id="deleteRelease" class="btn btn-danger pull-right" ng-click="removeRelease()"><i class="glyphicon glyphicon-remove"></i>Delete Release</button>
            <button class="btn btn-success pull-right" ng-click="addStory()"><i class="glyphicon glyphicon-plus-sign"></i>Add New Story</button>
            
            <div id="releaseName" ng-show="!editingName">
                <h2 ng-show="!editingName">
                    {{release.name}}
                    <i id="editReleaseName" class="glyphicon glyphicon-edit crud-action" ng-click="editingName = true"></i>
                </h2>
            </div>

            <div id="releaseNameEditing" ng-show="editingName">
                <i id="saveReleaseName" class="glyphicon glyphicon-save crud-action" ng-click="saveRelease()"></i>
                <input class="form-control" type="text" ng-model="release.name" ng-show="editingName">
            </div>
        </div>

        <div class="release-story" ng-class="{'showing-details': story.showDetails}" ng-repeat="story in release.stories | orderBy: 'name'">
            <button id="deleteStory" class="btn btn-danger pull-right" ng-click="removeStory(story)" ng-show="story.editing && !story.isNew">
                <i class="glyphicon glyphicon-remove"></i>
                Delete Story
            </button>

            <button id="editStory" class="btn btn-primary pull-right" ng-click="editStory(story)" ng-show="!story.editing && story.showDetails">
                <i class="glyphicon glyphicon-edit"></i>
                Edit Story
            </button>

            <div class="story-name">
                <h4 ng-show="!story.editing">{{story.name}}</h4>
                <input class="form-control" type="text" ng-model="story.name" ng-show="story.editing" placeholder="Enter Story Name">
            </div>

            <div class="editing-story-controls pull-right" ng-show="story.editing">
                <i class="glyphicon glyphicon-save crud-action" ng-click="saveRelease()"></i>
                <i class="glyphicon glyphicon-remove crud-action" ng-click="cancelEditingStory(story)"></i>
            </div>

            <div class="story-tests-container">
                <h4 class="test-status" ng-show="!story.showDetails">Test status: {{getTestStatus(story)}}</h4>
            </div>

            <div class="story-notes-container" ng-show="story.showDetails">
                <p class="story-notes" ng-show="!story.editing">{{story.notes}}</p>
                <textarea class="form-control story-notes-editor" ng-model="story.notes" ng-show="story.editing" placeholder="Notes"></textarea>
            </div>

            <ul class="story-tags">
                <li class="story-tag" ng-repeat="tag in story.tags | orderBy: 'name'">
                    <i class="glyphicon glyphicon-remove crud-action" ng-click="removeTag(story, tag)"></i>
                    {{tag}}
                </li>
            </ul>

            <i class="toggle-story-details glyphicon crud-action"
               ng-class="{'glyphicon-resize-full': !story.showDetails, 'glyphicon-resize-small': story.showDetails}"
               ng-click="toggleStoryDetails(story)"></i>
        </div>
    </div>
</script>