#indexContainer {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    text-align: center;
    width: 80%;
    margin: 0 auto;
    display: flex;
}

#messagesContainer {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
}

#projectList {
    font-size: 1.3em;
    list-style-type: none;
    text-align: left;
}

#projectToAdd {
    width: 20%;
}

#projectToAdd input {
    width: 80%;
}

#projectToAddControls {
    float: right;
    margin-top: 5px;
}

.crud-action:hover {
    color: #76b6cf !important;
    cursor: pointer;
}

#projectInnerContainer {
    padding: 10px 0;
    height: 95%;
    width: 100%;
}

#projectName h2 {
    margin-top: 0;
}

#editProjectName {
    font-size: 0.4em;
    vertical-align: super;
}

#projectNameEditing {
    width: 20%;
    margin: 0 auto 20px;
}

#projectNameEditing input {
    width: 90%;
}

#saveProjectName {
    float: right;
    margin-top: 5px;
    font-size: 1.3em;
}

#deleteProject {

}

#selectedProjectContainer {
    height: 100%;
    border: 2px solid #aaaaaa;
    border-radius: 2px;
    display: flex;
}

#projectSidebar {
    border-right: 2px solid #dddddd;
    height: 100%;
    overflow: auto;
    padding: 0;
    width: 15%;
}

#projectSidebar h2 {
    border-bottom: 2px solid #dddddd;
    padding-top: 20px;
    margin: 0;
    height: 10%;
}

#releaseListContainer {
    height: 90%;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 20px;
}

#releaseList {
    list-style-type: none;
    padding-left: 0;
}

#releaseInnerContainer {
    padding: 0;
    width: 85%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

#selectedReleaseContainer {
    height: 100%;
}

#releaseStoryList {
    height: 90%;
    overflow-y: auto;
    overflow-x: hidden;
}

#releaseNameContainer {
    border-bottom: 2px solid #dddddd;
    height: 10%;
    padding: 15px;
}

#releaseNameContainer h2 {
    margin: 0;
}

#editReleaseName {
    font-size: 0.4em;
    vertical-align: super;
}

#releaseNameEditing {
    width: 20%;
    margin: 0 auto 20px;
}

#releaseNameEditing input {
    width: 90%;
    margin-top: 9px;
}

#saveReleaseName {
    float: right;
    margin-top: 5px;
    font-size: 1.3em;
}

#releaseToAdd input {
    width: 80%;
}

#releaseToAddControls {
    float: right;
    margin-top: 5px;
}

#releaseList {
    margin-top: 10px;
    padding: 10px;
}

.release-story {
    max-height: 125px;
    border: 2px outset #ccc;
    margin: 10px;
    position: relative;
    text-align: left;
    padding-left: 10px;
    overflow: hidden;
    -webkit-transition: max-height ease-in-out 0.5s;
    -moz-transition: max-height ease-in-out 0.5s;
    -ms-transition: max-height ease-in-out 0.5s;
    -o-transition: max-height ease-in-out 0.5s;
    transition: max-height ease-in-out 0.5s;
}

.release-story.showing-details {
    max-height: 500px;
    overflow: hidden;
    -webkit-transition: max-height ease-in-out 0.5s;
    -moz-transition: max-height ease-in-out 0.5s;
    -ms-transition: max-height ease-in-out 0.5s;
    -o-transition: max-height ease-in-out 0.5s;
    transition: max-height ease-in-out 0.5s;
}

.test-status {
    position: relative;
}

.story-name input {
    width: 40%;
    margin-top: 10px;
}

.story-tags {
    text-align: left;
    position: relative;
    bottom: 0;
    padding: 0;
    margin-top: 10px;
}

.story-tag {
    list-style-type: none;
    display: inline-block;
    border: 2px solid #6FA9CC;
    margin: 0 5px;
    padding: 0 5px;
    border-radius: 10px;
}

.story-tag .glyphicon {
    padding: 0 3px;
    font-size: 0.9em;
    color: #555;
}

.editing-story-controls {
    font-size: 1.6em;
    margin-right: 30px;
}

.toggle-story-details {
    position: absolute;
    right: 10px;
    bottom: 10px;
    top: auto;
    font-size: 1.5em;
}

.story-notes {
    overflow: auto;
    max-height: 100px;
}

.story-notes-editor {
    height: 100px !important;
}

.test-notes-editor {
    width: 90%;
}

.editing-test-controls {
    font-size: 1.6em;
    margin-top: 10px;
}

.edit-test {
    float: left;
    margin-right: 5px;
    margin-top: 3px;
    font-size: 0.8em;
}